@use 'colors' as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.btn-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;

	&::before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s;
		z-index: -1;
	}

	&:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
}

.section-heading {
	position: relative;
	margin-bottom: 2em;
	font-size: 3.5rem;
	text-transform: uppercase;
	text-align: center;
	color: $bgColor;
	letter-spacing: 2px;
	font-weight: 700;
}

.section-padding {
	padding: 5em 2em;
}

@media (min-width: 768px) {
	.section-heading {
		font-size: 3.6rem;
	}
}

@media (min-width: 992px) {
	.section-heading {
		font-size: 4.8rem;
	}
}
